config.json

# Xcode
.DS_Store
build/
DerivedData/
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata/
*.xccheckout
*.xcscmblueprint

# Swift Package Manager
Packages
Package.pins
Package.resolved
.build/

# CocoaPods
Pods/
Podfile.lock
Podfile.new
Podfile.old
.project.xcworkspace/

# Carthage
Carthage/Build/

# Accio dependency management
Dependencies/
.accio/

# fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots
fastlane/test_output
*.lock

# Code Injection
.hmap

# Custom Config files
Config.json

# Prevent committing secret files
*.secret
*.keys
*.pem
*.cer
*.crt
*.csr

# Archive
*.xcarchive

# App Xcode
*.ipa
*.dSYM.zip
*.dSYM
